{% extends "squelette.html" %}

{% block nav%}
<div class="navbar-nav">
    <a class="nav-link" href="/accueil">Accueil</a>
</div>
<div class="navbar-nav">
    <a class="nav-link" href="#">Carte</a>
</div>
{% endblock %}

{% block article%}
<p>Le site est en construction et cette page est un essai d'affichage de la position que rentre l'utilisateur.</p>

<form class="form-inline active-pink-3 active-pink-4">
    <legend>Choisissez votre destination</legend>
    <div class="autocomplete" style="width:300px;">
        <i class="fas fa-search" aria-hidden="true"></i>
        <label for="Destination"></label><input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search" id="Search">
    </div>
</form>

<form method = "post" >
    <fieldset >
        <legend>Renseignez vos coordonnées</legend> 
            
        <label for="latitude">Latitude</label> : <input type="text" name="latitude" id="latitude" placeholder="Ex : 47.8"/>
        <label for="longitude">Longitude</label> : <input type="text" name="longitude" id="longitude" placeholder="Ex : -3.9"/>

        <input type="submit" value="Envoyer" />
 
    </fieldset>
</form>

{% endblock %}