{% extends "squelette.html" %}

{% block nav%}
<a class="navbar-brand" href="/accueil">Accueil</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavDropdown">
    <div class="navbar-nav">
        <a class="nav-link" href="#">Carte</a>
    </div>
</div>
{% endblock %}

{% block article%}
<p>Le site est en construction et cette page est un essai d'affichage de la position que rentre l'utilisateur.</p>

<form method = "post" >
    <fieldset >
        <legend>Renseignez vos coordonnées</legend> 
 
        <label for="latitude">Latitude</label> : <input type="text" name="latitude" id="latitude" placeholder="Ex : 47.8"/>
        <label for="longitude">Longitude</label> : <input type="text" name="longitude" id="longitude" placeholder="Ex : -3.9"/>

        <input type="submit" value="Envoyer" />
 
    </fieldset>
</form>

{% endblock %}

