{% extends "squelette.html" %}

{% block nav%}
<div class="navbar-nav">
    <a class="nav-link" href="#">Accueil</a>
</div>
<div class="navbar-nav">
    <a class="nav-link" href="/carte">Itinéraire</a>
</div>
<div class="navbar-nav">
    <a class="nav-link" href="/meeting_point">Point de rencontre</a>
</div>
<div class="navbar-nav">
    <a class="nav-link" href="/reseau">Plan du réseau</a>
</div>
<div class="navbar-nav">
    <a class="nav-link" href="/isochrones">Isochrones</a>
</div>
{% endblock %}


{% block div%}
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <image
                    href="https://www.plandeparis.info/plans-de-metro/plan-de-metro-bonne-definition.gif"
                    style="opacity: 0.3;">
            </svg>

            <div class="container">
                <div class="carousel-caption text-start">
                    <h1 style="color:dimgrey">Calcul d'itinéraires multimodaux</h1>
                    <p style="color:dimgray">Ce projet a pour ambition de permettre de calculer des itinéraires
                        multimodaux multi-utilisateurs et contient plusieurs fonctionnalités présentées ci-dessous.</p>
                    <p><a class="btn btn-lg btn-primary" href="/meeting_point" role="button">Lancer une recherche &#128640;</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <image
                    href="https://www.ecoledesponts.fr/sites/ecoledesponts.fr/files/styles/home_direct_access/public/blocks/_mg_9773_c_david_delaporte_-_ecole_des_ponts_paristech-1920x600.jpg?itok=x8Jgrd9p"
                    style="opacity: 0.5;">
            </svg>

            <div class="container">
                <div class="carousel-caption">
                    <h1 style="color:dimgrey">Cadre du projet</h1>
                    <p style="color:dimgray">Ce projet est un projet TDLOG/MOPSI réalisé par des élèves du département IMI de l'École des
                        Ponts ParisTech.</p>
                    <p><a class="btn btn-lg btn-primary" href="https://www.ecoledesponts.fr/en" role="button">Site de
                            l'École</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#777" /></svg>

            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Réalisation du projet</h1>
                    <p>Ce projet a été encadré par Guillaume DALLE et réalisé par Emma BEUZE, Guillaume RUSSIAS et Aubin
                        TCHOÏ.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Nous contacter</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>


{% endblock %}


{% block article%}
<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                    dy=".3em">140x140</text>
            </svg>

            <h2>Itinéraire</h2>
            <p>Calculer un itinéraire départ-arrivée à un utilisateur.</p>
            <p><a class="btn btn-secondary" href="/carte" role="button">Plus de détails &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                    dy=".3em">140x140</text>
            </svg>

            <h2>Point de rencontre</h2>
            <p>Rechercher le point de rencontre optimal entre plusieurs utilisateurs.</p>
            <p><a class="btn btn-secondary" href="/meeting_point" role="button">Plus de détails &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                    dy=".3em">140x140</text>
            </svg>

            <h2>Isochrones</h2>
            <p>Visualiser les stations accessibles pour différents temps de trajet.</p>
            <p><a class="btn btn-secondary" href="/isochrones" role="button">Plus de détails &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    {% endblock %}
