{% extends "squelette.html" %}

{% block nav%}
<div class="navbar-nav">
    <a class="nav-link" href="/accueil">Accueil</a>
</div>
<div class="navbar-nav">
    <a class="nav-link" href="#">Itinéraire</a>
</div>
<div class="navbar-nav">
    <a class="nav-link" href="/meeting_point">Point de rencontre</a>
</div>
<div class="navbar-nav">
    <a class="nav-link" href="/reseau">Plan du réseau</a>
</div>
<div class="navbar-nav">
    <a class="nav-link" href="/isochrones">Isochrones</a>
</div>
{% endblock %}

{% block article%}

<br><br/>
<script>
    let list = {{ liste_stations | safe }};
</script>

<form method="POST" class="form-inline active-pink-3 active-pink-4">
    <legend>Rechercher un itinéraire</legend>
    <div class="autocomplete" style="width:300px;">
        <i class="fas fa-search" aria-hidden="true"></i>
        <label for="origine"></label><input class="form-control form-control-sm ml-3 w-75" type="text" name="origine" placeholder="Vous êtes" aria-label="Search" id="Search">
        <div><br></div>
        <div class="timepicker">
        <label for="time"></label><input class="form-control form-control-sm ml-3 w-75" name="time" placeholder="hh:mm" type="text" id=time_departure></input>
        </div>
        <div><br></div>
        <label for="destination"></label><input class="form-control form-control-sm ml-3 w-75" type="text" name="destination" placeholder="Vous allez" aria-label="Search" id="Search_2">
    </div>
    <button type="button" class="btn btn-danger" id="rd" onclick="random_complete_with_summit(true,['Search','Search_2'],['time_departure'],list)">Random</button>
    <input type="submit" value="Envoyer" class="btn btn-primary" />
</form>

<br><br/>

<div class="container-fluid bg-dark text-white">
  <div id="map-container" class="z-depth-1-half map-container" style="height: 500px">
    <iframe src="/affichagecarte" frameborder="0"style="border:0" allowfullscreen></iframe>
  </div>
</div>

<script src="/static/autocomplete.js"></script>
<script>
    autocomplete(document.getElementById("Search"), list);
    autocomplete(document.getElementById("Search_2"), list);
</script>


{% endblock %}
