{% extends "squelette.html" %}

{% block nav%}
<div class="navbar-nav">
    <a class="nav-link" href="/accueil">Accueil</a>
</div>
<div class="navbar-nav">
    <a class="nav-link" href="/carte">Carte</a>
</div>
<div class="navbar-nav">
    <a class="nav-link" href="/meeting_point">Point de rencontre</a>
</div>
<div class="navbar-nav">
    <a class="nav-link" href="/reseau">Plans du réseau</a>
</div>
{% endblock %}

{% block article%}

<br/>
<div class="container-fluid bg-dark text-white">
  <div id="map-container" class="z-depth-1-half map-container" style="height: 500px">
    <iframe src="/route_display_single_user" frameborder="0"style="border:0" allowfullscreen></iframe>
  </div>
</div>
<div class="container-fluid bg-dark text-white">
  <div id="map-container" class="z-depth-1-half map-container" style="height: 500px">
    <iframe src="/route_description_single_user" frameborder="0"style="border:0" allowfullscreen></iframe>
  </div>
</div>

{% endblock %}
