{% extends "squelette.html" %}

{% block nav%}
<div class="navbar-nav">
    <a class="nav-link" href="/accueil">Accueil</a>
</div>
<div class="navbar-nav">
    <a class="nav-link" href="/carte">Carte</a>
</div>
{% endblock %}

{% block article%}

<br/>

<div class = container>
    <div class = row>
        <div class=col-auto mr-auto>
            <iframe id="affichage carte"
                title="Affichage carte"
                width="600"
                height="600"
                src = '/affichagecarteactualisee'>
            </iframe>
        </div>
    
        <div class=col-auto ml-auto>
            <p>
                <p>
                    Voici votre itinéraire :
                </p> 
                {% for gare in feuille_route %}
                {{gare}} <br/>
                {% endfor %}
            </p>   
        </div>
    
    </div>
</div>




{% endblock %}