{% extends "squelette.html" %}

{% block nav%}
<div class="navbar-nav">
    <a class="nav-link" href="/accueil">Accueil</a>
</div>
<div class="navbar-nav">
    <a class="nav-link" href="/carte">Carte</a>
</div>
<div class="navbar-nav">
    <a class="nav-link" href="#">Point de rencontre</a>
</div>
<div class="navbar-nav">
    <a class="nav-link" href="/reseau">Plan du réseau</a>
</div>
<div class="navbar-nav">
    <a class="nav-link" href="/isochrones">Isochrones</a>
</div>
{% endblock %}

{% block article%}

<br><br/>

<form method="POST" class="form-inline active-pink-3 active-pink-4">
    <legend>Entrer le nombre d'utilisateurs et l'heure du rendez-vous</legend>
    <div>
        <label for="n_users"></label><input class="form-control form-control-sm ml-3 w-75" type="text" name="n_users" placeholder="Nombre d'utilisateurs"></input>
        <div><br></div>
        <label for="time"></label><input class="form-control form-control-sm ml-3 w-75" type="text" name="time" placeholder="hh:mm"></input>
    </div>
    <input type="submit" value="Envoyer" />
</form>


{% endblock %}
