{% extends "squelette.html" %}

{% block nav%}
<div class="navbar-nav">
    <a class="nav-link" href="/accueil">Accueil</a>
</div>
<div class="navbar-nav">
    <a class="nav-link" href="/carte">Itinéraire</a>
</div>
<div class="navbar-nav">
    <a class="nav-link" href="/meeting_point">Point de rencontre</a>
</div>
<div class="navbar-nav">
    <a class="nav-link" href="#">Plan du réseau</a>
</div>
<div class="navbar-nav">
    <a class="nav-link" href="/isochrones">Isochrones</a>
</div>
{% endblock %}

{% block article%}

<div class="container-fluid bg-dark text-white">
  <div id="map-container" class="z-depth-1-half map-container" style="height: 500px">
    <iframe src="/affichagereseauRER" frameborder="0"style="border:0" allowfullscreen></iframe>
  </div>
</div>

{% endblock %}
